footer
    position absolute
    bottom -10px
    left 0
    width 100%
    text-align center
    padding 20px 0px
    background-color #d4d4d4
    border-top solid 1px #a2a2a2
    ul
        margin 0 auto
    li
        display inline-block
        vertical-align top
        width 33%
    a
        display block
        text-decoration none
        color color1
        font-weight bold
        font-size 15px
    p
        margin 5px auto
        margin-bottom 0
        padding-bottom 0
        font-size 13px
        margin-bottom -13px
        width 100%

@media(max-width: 1024px)
    footer
        li
            max-width: 30%