header
    position fixed
    width 100%
    top 0
    background #d4d4d4
    color white
    height 51px
    left 0
    border-bottom solid 1px #a2a2a2
    z-index 1

    ul
        list-style-type none
    a
        color color1
        text-transform uppercase
        font-weight bold
        text-decoration none

@media(max-width: 1024px)
    header
        padding-left 20px