* {
  font-family: 'Roboto Condensed', sans-serif;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  display: block;
  position: relative;
}
body {
  padding-top: 51px;
  padding-bottom: 80px;
  min-height: 90%;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    width: 100%;
  }
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #d4d4d4;
  color: #fff;
  height: 51px;
  left: 0;
  border-bottom: solid 1px #a2a2a2;
  z-index: 1;
}
header ul {
  list-style-type: none;
}
header a {
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 1024px) {
  header {
    padding-left: 20px;
  }
}
.title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
}
p {
  text-align: center;
}
p span {
  margin: 0 45px;
}
.link-to {
  font-weight: bold;
}
.link-to a {
  font-weight: normal;
  text-decoration: underline;
  color: #333;
}
.description {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background: #ff5722;
  border-radius: 10px;
  padding: 15px;
  margin-top: 40px;
}
@media (max-width: 600px) {
  .stars,
  .language,
  .link-to {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }
}
footer {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  background-color: #d4d4d4;
  border-top: solid 1px #a2a2a2;
}
footer ul {
  margin: 0 auto;
}
footer li {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
footer a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
footer p {
  margin: 5px auto;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 13px;
  margin-bottom: -13px;
  width: 100%;
}
@media (max-width: 1024px) {
  footer li {
    max-width: 30%;
  }
}
