* {
  font-family: 'Roboto Condensed', sans-serif;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  display: block;
  position: relative;
}
body {
  padding-top: 51px;
  padding-bottom: 80px;
  min-height: 90%;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    width: 100%;
  }
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #d4d4d4;
  color: #fff;
  height: 51px;
  left: 0;
  border-bottom: solid 1px #a2a2a2;
  z-index: 1;
}
header ul {
  list-style-type: none;
}
header a {
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 1024px) {
  header {
    padding-left: 20px;
  }
}
.home-page {
  background-color: #f1f1f1;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
#search-profiles {
  margin-top: 12%;
  text-align: center;
}
#search-profiles h1 {
  color: #313030;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}
#search-profiles input {
  padding: 10px 10px 10px 25px;
  border: solid 1px #bbbaba;
  border-radius: 20px 0px 0px 20px;
  font-size: 25px;
  width: 320px;
}
#search-profiles button {
  background-color: #ff5722;
  border: solid 1px #bbbaba;
  color: #f1f1f1;
  padding: 10px 30px;
  cursor: pointer;
  margin-left: -5px;
  transition: -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5), -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  border-radius: 0px 20px 20px 0px;
  font-size: 25px;
}
#search-profiles button:hover {
  transition: -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5), -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.cont-resultuser {
  display: none;
  opacity: 0;
  color: #333;
  background-color: #dcdbdb;
  border: solid 1px #bbbaba;
  padding: 10px 15px;
  transition: all 1s ease;
  border-radius: 19px;
  max-width: 680px;
  margin: 10px auto;
}
.cont-resultuser p {
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: bold;
}
.cont-resultuser p span {
  font-weight: normal;
}
.cont-resultuser img,
.cont-resultuser .infos-user {
  display: inline-block;
  vertical-align: top;
  text-align: right;
}
.cont-resultuser img {
  width: 29%;
  margin-right: 10px;
  border-radius: 10px;
}
.cont-resultuser .infos-user {
  padding-top: 10px;
  width: 60%;
}
.cont-resultuser .infos-user a {
  text-decoration: none;
  color: #f1f1f1;
  background-color: #ff5722;
  padding: 8px 15px;
  display: block;
  max-width: 94px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  margin-left: auto;
  transition: -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5), -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
}
.cont-resultuser .infos-user a:hover {
  transition: -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5), -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.order-by {
  text-align: center;
}
.order-by a {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.order-by a.more-stars::after {
  content: "";
  width: 1.5px;
  height: 20px;
  background-color: #333;
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.repo-list {
  border: solid 1px #bbbaba;
  padding: 10px;
  margin-top: 20px;
  text-align: left;
  transition: -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5), -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
}
.repo-list:hover {
  transition: -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  transition: transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5), -webkit-transform 0.3s cubic-bezier(0.5, 0.49, 0.51, 0.5);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.repo-list p {
  display: inline;
}
.repo-list span {
  display: inline-block;
  width: 120px;
  float: right;
  margin-top: 0;
  text-align: right;
}
.repo-list a {
  text-decoration: none;
  color: #333;
  display: block;
}
.search-complete .cont-resultuser {
  display: block;
  opacity: 1;
  transition: all 1s ease;
}
@media (max-width: 610px) {
  #search-profiles input {
    width: 110px;
    font-size: 16px;
    padding: 17px 10px 10px 25px;
  }
  #search-profiles button {
    width: 128px;
    font-size: 14px;
    padding: 14.5px 0px;
    position: relative;
    top: -4px;
  }
  .order-by {
    margin-top: 30px;
  }
  .repo-list p {
    display: inline-block;
    width: 50%;
    margin-bottom: 0;
  }
}
footer {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  background-color: #d4d4d4;
  border-top: solid 1px #a2a2a2;
}
footer ul {
  margin: 0 auto;
}
footer li {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
footer a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
footer p {
  margin: 5px auto;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 13px;
  margin-bottom: -13px;
  width: 100%;
}
@media (max-width: 1024px) {
  footer li {
    max-width: 30%;
  }
}
