.home-page
    background-color color2
    position absolute
    width 100%
    margin 0 auto

#search-profiles
    margin-top 12%
    text-align center 
    h1
        color color5
        font-size 40px
        margin-top 0
        margin-bottom 10px
    input
        padding 10px 10px 10px 25px
        border solid 1px #bbbaba
        border-radius 20px 0px 0px 20px
        font-size 25px
        width 320px
    button
        background-color color4
        border solid 1px #bbbaba
        color color2
        padding 10px 30px
        cursor pointer
        margin-left -5px
        transition transform .3s cubic-bezier(0.5, 0.49, 0.51, 0.5)
        border-radius 0px 20px 20px 0px
        font-size 25px
        &:hover
            transition transform .3s cubic-bezier(0.5, 0.49, 0.51, 0.5)
            transform scale(1.1)

.cont-resultuser
    display none
    opacity 0
    color color1
    background-color #dcdbdb
    border solid 1px #bbbaba
    padding 10px 15px
    transition all 1s ease
    border-radius 19px
    max-width 680px
    margin 10px auto
    p
        margin-top 0
        margin-bottom 6px
        font-weight bold
        span
            font-weight normal
    img,
    .infos-user
        display inline-block
        vertical-align top
        text-align right
    img
        width 29%
        margin-right 10px
        border-radius 10px
    .infos-user
        padding-top 10px
        width 60%
        a
            text-decoration none
            color color2
            background-color color4
            padding 8px 15px
            display block
            max-width 94px
            text-align center
            font-weight bold
            margin-top 15px
            margin-left auto
            transition transform .3s cubic-bezier(0.5, 0.49, 0.51, 0.5)
            &:hover
                transition transform .3s cubic-bezier(0.5, 0.49, 0.51, 0.5)
                transform scale(1.1)

.order-by
    text-align center
    a
        display inline-block
        text-align center
        cursor pointer
        position relative
        &.more-stars
            &::after
                content ""
                width 1.5px
                height 20px
                background-color color1
                display inline-block
                margin-left 10px
                margin-right 5px
                position relative
                top 4px
.repo-list
    border solid 1px #bbbaba
    padding 10px
    margin-top 20px
    text-align left
    transition transform .3s cubic-bezier(0.5, 0.49, 0.51, 0.5)
    &:hover
        transition transform .3s cubic-bezier(0.5, 0.49, 0.51, 0.5)
        transform scale(1.03)
    p
        display inline
    span
        display inline-block
        width 120px
        float right
        margin-top 0
        text-align right
    a
        text-decoration none
        color color1
        display block
       

.search-complete
    .cont-resultuser
        display block
        opacity 1
        transition all 1s ease

@media(max-width: 610px)
    #search-profiles
        input
            width 110px
            font-size: 16px;
            padding: 17px 10px 10px 25px
        button
            width: 128px;
            font-size: 14px;
            padding: 14.5px 0px;
            position: relative;
            top: -4px;
    .order-by
        margin-top 30px
    .repo-list 
        p
            display: inline-block;
            width: 50%;
            margin-bottom: 0